{% extends 'main/root_template.html' %}
{% block page_title %}
    <title>{{ author.name }} - profil</title>
{% endblock %}
{% block page_content %}
    <div class="container-fluid shadow-lg"
         style="background-image: url({{ author.profile_background.url }}); background-size: cover; background-repeat: no-repeat">
        <div class="row" style="backdrop-filter: blur(5px) brightness(50%)">
            <div class="row justify-content-center align-items-center gx-5 p-5 text-white">
                <div class="col-lg-4">
                    <img src="{{ author.profile_picture.url }}" class="img-fluid bg-light rounded-50 profile-pic shadow">
                </div>
                <div class="col-lg-8">
                    <p class="fs-5 mt-2 lh-1"><i class="bi bi-bookmark-heart"> Zweryfikowany profil</i></p>
                    <h1 class="display-1 fw-semibold">{{ author.name }}</h1>
                    {% if author.country %}
                        <p class="fs-5">Kraj wykonawcy <span class="fi fi-{{ author.country }}"></span></p>
                    {% endif %}
                    <p class="fs-3">{{ author.description }}</p>
                    <a href="#"><button class="fs-3 btn btn btn-success"><em class="bi bi-play-circle-fill"></em> Losowy utwór</button></a>
{#                    <a href="{% url 'song_page' slug=random_song.slug %}"><button class="fs-3 btn btn-dark"><em class="bi bi-play-circle-fill"></em> Odtwarzaj losowo</button></a>#}
                </div>
            </div>
        </div>
    </div>
    <div class="container mt-2 rounded-4 bg-dark text-white class_list" style="margin-top: 80px">
        <p class="display-5">Wszystkie utwory (na liście{{ author.song_set.count }} pozycji)</p>
            {% for song in author.song_set.all %}
                <div class="row row_list">
                    <div class="col-sm-3">
                        <img src="{{ song.cover_image.url }}" class="img-fluid img-thumbnail">
                    </div>
                    <div class="col-sm-3 d-flex align-items-center">
                        <a class="hover-3">{{ song.title }}</a>
                    </div>
                    <div class="col-sm-3 d-flex align-items-center">
                        {% for author in song.author.all %}
                            <a class="text-white text-decoration-none hover-3">{{ author.name }}</a>
                        {% endfor %}
                    </div>
                    <div class="col-sm-3 d-flex align-items-center">
                        <i class="bi bi-folder-plus"></i>
                    </div>
                </div>
            {% endfor %}

        </div>
{% endblock %}