{% extends 'main/root_template.html' %}
{% load static %}

{% block page_title %}
    <title>{{ motd }}</title>
{% endblock %}

{% block page_content %}
    <div class="container p-5 text-bg-dark rounded-2">
        <div class="row">
            {% include 'main/includes/trending_song.html' %}
        </div>
        <div class="row mt-5 gx-5 gy-5">
            <div class="col-lg-6">
                <p class="fs-1">Top list</p>
                <p class="fs-4">List of the most popular songs on Songify</p>
                {% include 'main/includes/song-list.html' with songs=top_songs %}
            </div>
            <div class="col-lg-6">
                <p class="fs-1">Recommended</p>
                <p class="fs-4">Give it a try!</p>
                {% include 'main/includes/song-list.html' with songs=top_songs %}
            </div>
        </div>

        {#new artist#}

        {% include 'main/includes/newest-author.html' %}

        {#{    listy autorów? }#}

        <div class="container container-fluid ">
            <div class="row ">

                {% include 'main/includes/playlist-top-authors.html' %}
                {% include 'main/includes/playlist-popular-author.html' %}
            </div>
        </div>
    </div>
{% endblock %}
{% block page_custom_js %}
    <script>
        function search() {
            var query = document.getElementById('search_bar').value
            console.log(`/search/?q=${query}`)
            window.location.href = `/search/?q=${query}`;
        }
    </script>
{% endblock %}