{% extends 'main/root_template.html' %}
{% load static %}
{% block page_content %}
    <div class="container mt-5 p-5 rounded-4 bg-dark text-white">
        <h1 class="display-2">Wyniki wyszukiwania</h1>
        <div class="row">
            <p class="display-4 mt-5">Utwory</p>
            {% include 'main/includes/song-list.html' %}
        </div>
        <p class="display-4 mt-5">Artyści</p>
        <div class="row flex-row flex-nowrap overflow-auto"
             style="touch-action: pan-x;">
            {% for author in authors_search_result %}
                <div class="cardborder-0 rounded-2 text-white p-0 m-2 shadow" style="max-width: 18rem; background-color: #323539">
                    <img src="{{ author.profile_picture.url }}" class="card-img-top rounded-50 p-4" alt="...">
                    <div class="card-body text-center pb-2">
                        <h5 class="card-title">{{ author.name }}</h5>
                        <p class="card-text">Wykonawca</p>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
{% block page_custom_js %}
{% endblock %}