{% extends 'main/root_template.html' %}
{% load static %}

{% block page_title %}
    <title>{{ song.author.first.name }} - {{ song.title }}</title>
{% endblock %}

{% block page_content %}
    <div id='background' class="container-fluid text-light bg-dark p-0"
         style="background-image: url({{ song.cover_image.url }}); background-size: cover; background-position: center">
        <div class="container-fluid p-5" style="backdrop-filter: blur(5px) brightness(50%)">
            <div class="container">
                <div class="row justify-content-center align-items-center gx-5 gy-3">
                    <div class="col-md-4 text-center">
                        <img src="{{ song.cover_image.url }}" class="img-fluid shadow">
                    </div>
                    <div class="col-md-8">
                        <p class="display-1 fw-semibold lh-1">{{ song.title }}</p>
                        <a class='text-reset text-decoration-none'
                           href="{% url 'author_page' slug=song.author.first.slug %}"><p
                                class="fs-3 fw-semibold">{{ song.author.first.name }}</p></a>
                        <audio id="player" controls preload="auto" style="width: 100%">
                            <source src="{{ song.music_file.url }}" type="audio/mp3">
                            Your browser does not support the audio element.
                        </audio>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class='container'>
        <div class="row mt-5">
            <div class="col-md-6">
                {% if not song.lyrics %}
                    <p class="fs-1"><i class="bi bi-x"></i>Brak tekstu dla tego utworu</p>
                {% else %}
                    <p class="fs-1"><i class="bi bi-blockquote-left"></i>Lyrics:</p>
                {% endif %}
                <p>
                    {{ song.lyrics | safe | linebreaks }}
                </p>
            </div>
            <div class="col-md-6">
                <p class="fs-1">About this song</p>
                <p class="fs-5">
                    Authors:
                    <br>
                    {% for author in song.author.all %}
                        <a class='text-reset text-decoration-none' href="{% url 'author_page' slug=author.slug %}"><img
                                src="{{ author.profile_picture.url }}" class="rounded-50 p-1"
                                style="max-height: 48px"> {{ author.name }}</a><br>
                    {% endfor %}
                    Category: {{ song.category.first.name }}
                    <br>
                    Number of plays: {{ song.number_of_plays }}
                </p>
            </div>
        </div>
        <div class="row gy-2">
                <p class="fs-1">Up next</p>
                {% include 'main/includes/song-list.html' with songs=up_next%}
        </div>
    </div>
{% endblock %}

{% block page_custom_js %}
    <script>
        var player = document.getElementById("player");
        var bg = document.getElementById("background")
        player.onplay = function () {

        };
        player.onpause = function () {
        };
    </script>
{% endblock %}
