{% extends 'main/root_template.html' %}
{% load static %}

{% block page_title %}
    <title>{{ song.author.first.name }} - {{ song.title }}</title>
{% endblock %}

{% block page_content %}
    <div id='background' class="container-fluid text-light bg-dark p-0"
         style="background-image: url({{ song.cover_image.url }}); background-size: cover; background-position: center">
        <div class="container-fluid p-5" style="backdrop-filter: blur(5px) brightness(50%)">
            <div class="container">
                <div class="row justify-content-center align-items-center gx-5 gy-3">
                    <div class="col-md-4 text-center">
                        <img id="cover" src="{{ song.cover_image.url }}" class="img-fluid shadow">
                    </div>
                    <div class="col-md-8">
                        <p id="title" class="display-1 fw-semibold lh-1">{{ song.title }}</p>
                        <a class='text-reset text-decoration-none'
                           href="{% url 'author_page' slug=song.author.first.slug %}"><p
                                class="fs-3 fw-semibold" id="author">{{ song.author.first.name }}</p></a>
                        {% if user.is_authenticated %}
                            <div id="loader" class="spinner-border" role="status">
                            </div>
                            <!-- Player -->
                            <div id="player-wrapper" class="d-none">
                                <div class="row">
                                    <div class="col fs-1">
                                        <i id="btn-play" class="bi bi-play-fill d-inline"></i>
                                    </div>
                                    <div class="col align-items-center justify-content-end d-none d-sm-flex">
                                        <label for="volume-bar"><i id="btn-mute" class="bi fs-3 bi-volume-up-fill"></i></label>
                                        <input id="volume-bar" style="width: 50%" type="range" class="progress mx-2"
                                               value="1" min="0"
                                               max="1" step="0.005">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="d-flex align-items-center">
                                        <label id="current-time" for="progress-bar">0:00</label>
                                        <input id="progress-bar" type="range" class="progress mx-2" value="0" min="0"
                                               max="1" step="0.005">
                                        <label id="duration" for="progress-bar">0:00</label>
                                    </div>
                                </div>
                            </div>
                        {% else %}
                            <p class="fs-1">Sign in to play this music.</p>
                            <a href="{% url 'LoginPage' %}" class="btn btn-light btn-lg">Sign in</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class='container'>
        <div class="row mt-5 gy-2">
            <div class="col-md-6">
                {% if not song.lyrics %}
                    <p class="fs-1"><i class="bi bi-x"></i>Brak tekstu dla tego utworu</p>
                {% else %}
                    <p class="fs-1 border-bottom"><i class="bi bi-blockquote-left"></i>Lyrics:</p>
                {% endif %}
                <p class="fs-6">
                    {{ song.lyrics | safe | linebreaks }}
                </p>
            </div>
            <div class="col-md-6">
                <p class="fs-1 border-bottom">About this song</p>
                <p class="fs-6">
                    Authors:
                    <br>
                    {% for author in song.author.all %}
                        <a class='text-reset text-decoration-none' href="{% url 'author_page' slug=author.slug %}"><img
                                src="{{ author.profile_picture.url }}" class="rounded-50 p-1"
                                style="max-height: 48px"> {{ author.name }}</a><br>
                    {% endfor %}
                    Category: {{ song.category.first.name }}
                    <br>
                    Number of plays: {{ song.number_of_plays }}
                </p>
            </div>
        </div>
        <div class="row gy-2">
            <p class="fs-1 border-bottom">Up next</p>
            {% include 'main/includes/song-list.html' with songs=up_next %}
        </div>
    </div>
{% endblock %}

{% block page_custom_js %}
    <script src="{% static 'main/js/Vibrant.min.js' %}"></script>
    <script>
        var range = document.getElementById("progress-bar");
        var volume_bar = document.getElementById("volume-bar")
        var btn_play = document.getElementById("btn-play");
        var btn_mute = document.getElementById("btn-mute");
        var current_time = document.getElementById(("current-time"));
        var player_wrapper = document.getElementById("player-wrapper");
        var loader = document.getElementById("loader");
        var playing = false;
        var muted = false;

        window.onload = function () {
            console.log("Page loaded")


            //Create audio object
            var player = new Audio();
            player.preload = "metadata";
            player.src = "{{ song.music_file.url }}";
            player.volume = 1;


            //Do this when metadata is loaded
            player.onloadedmetadata = function () {
                console.log("Metadata loaded")
                //Set the duration label
                document.getElementById("duration").innerHTML = new Date(player.duration * 1000).toISOString().substring(14, 19)
                loader.classList.add("d-none");
                player_wrapper.classList.remove("d-none");
            }

            //Player controls
            btn_play.onclick = function () {
                if (playing) {
                    player.pause();
                    btn_play.classList.remove("bi-pause-fill");
                    btn_play.classList.add("bi-play-fill");
                    console.log("Pause");
                    playing = false;
                } else {
                    console.log('Play');
                    player.play();
                    btn_play.classList.remove("bi-play-fill");
                    btn_play.classList.add("bi-pause-fill");
                    playing = true;
                }
            }

            //Player slider
            player.ontimeupdate = function () {
                //Calculate the percentage of song
                var percent = this.currentTime / this.duration;
                range.value = percent;
                var s = parseInt(player.currentTime % 60);
                if (s < 10) {
                    s = '0' + s;
                }
                var m = parseInt((player.currentTime / 60) % 60);
                document.getElementById("current-time").innerHTML = m + ":" + s;
            }
            //Skip part of a song
            range.onchange = function () {
                console.log("Song skipped to - " + range.value * player.duration);
                player.currentTime = range.value * player.duration;
            }
            //Volume change
            volume_bar.onchange = function () {
                player.volume = this.value;
            }
            //Mute button
            btn_mute.onclick = function() {
                if (muted) {
                    player.volume = 1;
                    volume_bar.value = 1;
                    muted = false;
                    btn_mute.classList.remove("bi-volume-mute-fill");
                    btn_mute.classList.add("bi-volume-up-fill");
                }
                else {
                    player.volume = 0;
                    volume_bar.value = 0;
                    muted = true;
                    btn_mute.classList.remove("bi-volume-up-fill");
                    btn_mute.classList.add("bi-volume-mute-fill");
                }
            }
            //Logo color change
            var cover_image = new Image();
            cover_image.src = "{{ song.cover_image.url }}";
            cover_image.onload = function () {
                var vibrant = new Vibrant(cover_image);
                var swatches = vibrant.swatches()
                {#for (var swatch in swatches)#}
                {#    if (swatches.hasOwnProperty(swatch) && swatches[swatch])#}
                {#        console.log(swatch, swatches[swatch].getHex())#}
                document.getElementById("logo").style.transitionDelay = "1s";
                document.getElementById("logo").style.transitionDuration = "1.5s";
                document.getElementById("logo").style.transitionProperty = "color";
                document.getElementById("logo").style.color = swatches["LightVibrant"].getHex();
                document.getElementById("title").style.transitionDelay = "1s";
                document.getElementById("title").style.transitionDuration = "1.5s";
                document.getElementById("title").style.transitionProperty = "color";
                document.getElementById("title").style.color = swatches["LightVibrant"].getHex();
                document.getElementById("author").style.transitionDelay = "1s";
                document.getElementById("author").style.transitionDuration = "1.5s";
                document.getElementById("author").style.transitionProperty = "color";
                document.getElementById("author").style.color = swatches["LightVibrant"].getHex();
            }
        }
    </script>
{% endblock %}
