<table class="table table-dark table-hover align-middle table-borderless rounded-2">
    <thead>
    <tr>
        <th scope="col"></th>
        <th scope="col">Nazwa</th>
        <th scope="col">Opis</th>
    </tr>
    </thead>
    <tbody>
    {% for author in authors %}
        <tr>
            <td><img src="{{ author.profile_picture.url }}" class="img-fluid rounded-50" style="max-height: 180px"></td>
            <td><a class="text-white text-decoration-none hover-4" href="{% url 'author_page' slug=author.slug %}">{{ author.name }}</a></td>
            <td><a class="text-white text-decoration-none hover-4" href="{% url 'author_page' slug=author.slug %}"><span>{{ author.description }}</span></a></td>
        </tr>
    {% endfor %}
    </tbody>
</table>