{% load static %}
            <div class="col-md-6">
                <p class="display-5">Top lista</p>

                {% for song in top_songs %}
                    <div class="container"
                         style="background-image: url({{ author.profile_background.url }}); background-size: cover; background-repeat: no-repeat">
                        <div class="row p-5 align-items-center gy-2" style="backdrop-filter: blur(5px) brightness(50%)">
                            <div class="col-lg-4">
                                <img src="{{ song.cover_image.url }}" class="img-fluid rounded-50 shadow profile-pic"
                                     alt="...">
                            </div>
                            <div class="col-lg-8 text-left card-min-marg-top">
                                <h5 class="fs-1 lh-1">{{ song.title }}</h5>
                                {% for author in song.author.all %}
                                    <p class="fs-5 lh-5">{{ author.name }}</p>
                                {% endfor %}
                                {% for category in song.category.all %}
                                   <p class="fs-7 lh-7">{{ category.name }}</p>
                                {%  endfor %}
                                <a href="#">
                                    <button class="btn btn-light btn-lg card-btn">Odtwórz</button>
                                </a>
                            </div>
                        </div>

                    </div>
                {% endfor %}

            </div>