<table class="table table-sm text-white align-middle table-borderless rounded-2">
    <thead>
    <tr>
        <th scope="col"></th>
        <th scope="col">Title</th>
        <th scope="col">Number of plays</th>
        <th scope="col"></th>
    </tr>
    </thead>
    <tbody>
    {% for song in songs %}
        <tr>
            <td><img src="{{ song.cover_image.url }}" class="img-fluid" style="max-height: 64px"></td>
            <td>
                <span class="lh-1 fw-bold">{{ song.title }}</span>
                <br>
                <span class="lh-1">
                    {% for author in song.author.all|slice:':1' %}
                        <a class='text-reset'href="{% url 'author_page' slug=author.slug %}">{{ author }}</a>
                    {% endfor %}
                </span>
            </td>
            <td>{{ song.number_of_plays }}</td>
            <td class="text-end"><a href="{% url 'song_page' slug=song.slug %}"><button class="btn btn-light">Play</button></a></td>
    {% endfor %}
    </tbody>
</table>