{% load static %}
<p class="display-5 lh-1">Checkout this new song!</p>
<p class="fs-4 lh-1">{{ trending_song.title }} just dropped on Songify!</p>
<div class="row align-items-center gy-2">
    <div class="col-lg-4">
        <img src="{{ trending_song.cover_image.url }}" class="img-fluid shadow-lg profile-pic"
             alt="...">
    </div>
    <div class="col-lg-8 text-left">
        <h5 class="fs-1 lh-1">{{ trending_song.title }}</h5>
        {% for author in trending_song.author.all %}
            <a class=" text-reset" href="{% url 'author_page' slug=author.slug %}"><span class="fs-5 lh-1 ">{{ author.name }}</span></a>
        {% endfor %}
        {% for category in trending_song.category.all %}
            <p class="fs-7 lh-7 ">{{ category.name }}</p>
        {% endfor %}
        <a href="{% url 'song_page' slug=trending_song.slug %}"><button class="btn btn-success btn-lg">Play</button></a>
    </div>
</div>
